body {
	font-family: verdana;
}

h1 {
	font-size: 16px;
	text-align: center;
}

h2 {
	margin-top: 15px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

h3 {
	margin-top: 10px;
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
}

p {
	font-size: 11px;
}


li{
	font-size: 11px;
	font-family: verdana;	
}

#content{
	padding: 10px;	
}

#info_text {
	margin-bottom: 10px;
}


.sub_header{
	background: url("css/warning_yellow_32.png") no-repeat;
	padding-left: 30px;
	margin-bottom: 0px;
}

.sub_text {
	padding-left: 30px;
	margin-top: 0px;	
}

.sub_content {
	margin-bottom: 10px;
}

.aarsak{
	background: url("css/warning_yellow_32.png") no-repeat;
	padding-left: 30px;
	margin-bottom: 0px;
}

.konsekvens{
	background: url("css/warning_32.png") no-repeat;
	padding-left: 30px;
	margin-bottom: 0px;	
}

.rette_problem{
	background: url("css/OK_32.png") no-repeat;
	padding-left: 30px;
	margin-bottom: 0px;
}

	